{% extends 'menu/base_list.html' %}

{% block table_actions %}
    <a href="{% url 'motorista:create' %}" class="btn btn-brand btn-elevate btn-icon-sm">
        <i class="la la-plus"></i>
        Novo Motorista
    </a>
{% endblock %}

{% block grid_header %}
    <th class="text-center">
        <span>Cód. do Motorista</span>
    </th>
    <th class="text-center">
        <span>Nome</span>
    </th>
    <th class="text-center">
        <span>Telefone</span>
    </th>
    <th class="text-center">
        <span>CNH</span>
    </th>
    <th class="text-center">
        <span>Ações</span>
    </th>
{% endblock %}

{% block grid_item %}
    <td class="text-center">{{ item.cod_motorista }}</td>
    <td class="text-center">{{ item.nome }}</td>
    <td class="text-center">{{ item.telefone }}</td>
    <td class="text-center">{{ item.cnh }}</td>
    <td class="text-center">
        <a href="{% url 'motorista:detail' item.id %}" class="btn btn-success btn-elevate btn-icon-sm"
            data-toggle="kt-tooltip" data-original-title="Visualizar"
        >
            <i class="la la-book"></i>
        </a>
        <a href="{% url 'motorista:update' item.id %}" class="btn btn-warning btn-elevate btn-icon-sm"
            data-toggle="kt-tooltip" data-original-title="Editar"
        >
            <i class="la la-edit"></i>
        </a>

        <a href="#" class="btn btn-danger btn-elevate btn-icon-sm btn_action_delete"
           url="{% url 'motorista:delete' item.id %}"
           descricao="{{ item.nome }}"
           data-toggle="kt-tooltip" data-original-title="Excluir registro"
        >
            <i class="la la-trash"></i>
        </a>
    </td>
{% endblock %}
